.previewBox-container {
    border-radius: 0 0 0.2rem 0.2rem;
    background-color: #FFF;
    color: #000;
}

.previewBox-container a:focus, .previewBox-container h6:focus {
    outline: none;
}

.previewBox-container h6, .previewBox-container a:hover {
    color: #000;
}

.renderHTML-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.previewBox-item {
    margin: 0;
    background-color: #000;
    color: #FFF;
    border: 0.5rem solid #FFF;
    border-radius: 0.8rem;
    min-height: 10rem;
}

.previewBox-item > p, .renderHTML-item {
    font-family: 'Latina Essential';
    font-size:1.4rem;
    color: #FFF;
    padding-left: .5rem;
    padding-right :.5rem;
}